<h2 mat-dialog-title>{{ title }}</h2>
{{customerService.form.value |json}}
<form [formGroup]="customerService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content  class="d-flex p-2">

    <mat-form-field class="form-field">
      <input matInput placeholder="Customer Name*" formControlName="Customer_Name" />
      <mat-error>Please enter a Customer Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field class="form-field">
      <input matInput placeholder="Customer Display Name*" formControlName="Customer_DisplayName" />
      <mat-error>Please enter a Customer Display Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Email*"
        formControlName="Customer_Email"
      />
      <mat-error>Please enter an email</mat-error>
      <br>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Phone*"
        formControlName="Customer_Phone"
      />
      <mat-error>Please enter a phone number </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Address*"
        formControlName="Customer_Address"
      />
      <mat-error>Please enter an address</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field class="form-field" *ngIf="this.title === 'Add New Customer' ">
      <input
        matInput
        placeholder="Password*"
        formControlName="Customer_Password"
      />
      <mat-error>Please enter a Password</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

  

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="customerService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
